header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

header nav {
  display: flex;
  width: 1280px;
  margin: auto;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.navigation-header {
  display: flex;
  flex-flow: row;
  gap: 40px;
}

@media (max-width: 1210px) {
  .navigation-header {
    flex-flow: column;
    gap: 5px;
  }
}

.p-navlink {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0%;
  color: #00000099;

  text-decoration: none;
}

input {
  width: 526px;
  height: 46px;
  border-radius: 62px;

  outline: none;

  border: 0px white;
  background-color: #f0f0f0;
  padding: 12px 20px;
}

@media (max-width: 1200px) {
  .header-input {
    width: 400px;
  }
}

div form img {
  position: relative;
  top: 6px;
  left: 40px;
}

.span-notification {
  font-family: "Roboto";
  font-weight: 800;
  font-size: 20px;
  line-height: 22px;

  position: relative;
  top: 15px;
  right: 10px;

  background-color: red;
  padding: 5px 12px;
  border-radius: 20px;

  color: white;
}
