.topHeader-aside {
  background-color: black;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  flex-direction: row;

  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}

.topHeader-aside span a {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;

  color: white;
  list-style: none;
}

.topHeader-aside img {
  position: relative;
  left: 250px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .topHeader-aside img {
    left: 20px;
  }
}

nav h2 {
  font-family: "Montserrat Underline";
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
}
