footer {
  width: 100vw;
  padding-top: 100px;
  height: 500px;
  z-index: -100;

  background-color: #f0f0f0;
}

.top {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  flex-flow: column;
  width: 1440px;
  justify-content: space-between;

  margin: auto;
  margin-top: 50px;
}

@media (max-width: 1650px) {
  .wrapper {
    width: 1240px;
  }
}
@media (max-width: 1300px) {
  .wrapper {
    width: 1040px;
  }
}
@media (max-width: 1050px) {
  .wrapper {
    width: 840px;
  }
}
@media (max-width: 900px) {
  .wrapper {
    width: 640px;
  }
}
@media (max-width: 700px) {
  .wrapper {
    width: 440px;
  }
}

.bottom {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

.line {
  position: relative;
  top: 30px;

  height: 1px;
  width: 1440px;
  margin: auto;
  border: 1px solid #0000001a;
  background-color: transparent;
}

.first-left {
  max-width: 340px;
  display: flex;
  gap: 30px;
  flex-flow: column;
}

.second-left {
  display: flex;
  flex-flow: column;
  gap: 18px;
}

.third-left {
  display: flex;
  flex-flow: column;
  gap: 18px;
}

.images-top {
  display: flex;
  flex-flow: row;
  gap: 10px;
}

a {
  cursor: pointer;
}

p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0px;

  color: #00000099;
}
p span {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;

  color: black;
}

.h2 {
  font-family: "Montserrat Underline";
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}

h3 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

section a {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0px;

  color: #00000099;
  text-decoration: none;
}
