.card {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 13px;
  cursor: pointer;
}

.card h3 {
  font-family: "Russo One";
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.price {
  font-size: 24px;
}

.card p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;

  color: black;
}
.card p span {
  color: #00000099;
}

.discount {
  color: #00000066;
  text-decoration: line-through;
}

.discount-button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;

  color: #ff3333;
  background-color: #ff33331a;

  padding: 6px 16px;
  border-radius: 62px;
  position: relative;
  top: -2px;
}

h3 span {
  margin-left: 10px;
}
