.card {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 13px;
}

.card h3 {
  font-family: "Russo One";
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.price {
  font-size: 24px;
}

.card p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;

  color: black;
}
.card p span {
  color: #00000099;
}
