.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 1240px;
  margin: auto;
}

@media (max-width: 1650px) {
  .main {
    margin-top: 70px;
    width: 1000px;
    flex-flow: column;
  }
}

@media (max-width: 1650px) {
  .main {
    width: 1000px;
  }
}
@media (max-width: 1200px) {
  .main {
    width: 800px;
  }
}
@media (max-width: 1000px) {
  .main {
    width: 600px;
  }
}
@media (max-width: 800px) {
  .main {
    width: 400px;
  }
}

.main-h1 {
  font-family: "Russo One";
  font-weight: 400;
  font-size: 64px;
  max-width: 500px;
  margin-bottom: 45px;

  line-height: 64px;
  letter-spacing: 0%;
  vertical-align: middle;
}

.main-p {
  margin-bottom: 30px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;

  line-height: 22px;
  letter-spacing: 0%;

  color: #00000099;
}

@media (max-width: 600px) {
  .main-p {
    font-size: 14px;
  }
  .main-h1 {
    font-size: 48px;
    line-height: 48px;
  }
}

.main button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;

  color: white;
  background-color: #000000;

  padding: 16px 45px;
  border-radius: 62px;
  cursor: pointer;
}

div h2 {
  font-family: "Russo One";
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}

div p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0%;

  color: #00000099;
}

.star1 {
  position: absolute;

  margin-top: 350px;
  margin-left: 650px;
}

.star2 {
  position: absolute;
  margin-top: 90px;
  margin-left: 100px;
}

.main-img {
  margin-left: 200px;
}

@media (max-width: 1650px) {
  .star1 {
    margin-top: 350px;
    margin-left: 420px;
  }
  .star2 {
    margin-top: 90px;
    margin-left: -50px;
  }
  .main-img {
    margin: auto;
  }
}

@media (max-width: 800px) {
  .main-img {
    margin: auto;
    max-width: 400px;
  }
  .star1 {
    margin-top: 350px;
    margin-left: 380px;
  }
  .star2 {
    margin-top: 90px;
    margin-left: -50px;
  }
}

@media (max-width: 520px) {
  .main-img {
    max-width: 350px;
  }
  .star1 {
    display: none;
  }
  .star2 {
    display: none;
  }
}

.numbers {
  margin-top: 40px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .numbers {
    flex-flow: column;
    align-items: center;
    gap: 10px;
  }
}
