.filters {
  width: 300px;
  height: 1220px;

  padding: 24px;
  border: 1px solid #0000001a;
  border-radius: 20px;
}

.top-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
}

.top-filter img {
  cursor: pointer;
}

.lines {
  display: block;
  max-width: 250px;
  height: 1px;

  border: 1px solid #0000001a;

  margin: 24px 0;
}

.all-filters {
  display: flex;
  flex-flow: column;
  gap: 15px;
}

.filter {
  display: flex;
  justify-content: space-between;
}

.small-wrapper {
  display: flex;
  margin: auto;
  align-items: flex-start;
  flex-flow: row;
  gap: 20px;
}

.small-filters {
  cursor: pointer;
  padding: 5px;
  background-color: rgb(204, 204, 204);
  border-radius: 64px;
}

.all-filters-small {
  display: flex;
  flex-direction: column;
}

.filter-small {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 3px 0;
  padding: 7px;
  background-color: rgb(223, 223, 223);
  border-radius: 12px;
}

.shop-button-small {
  margin-top: 10px;

  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;

  background-color: black;
  color: white;
  padding: 16px 32px;
  border-radius: 64px;
}
