.cart-wrapper {
  display: flex;
  max-width: 1440px;
  margin: auto;
  justify-content: space-between;
  flex-flow: row;
}

@media (max-width: 1300px) {
  .cart-wrapper {
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
}

.checkout {
  margin-top: 20px;
  display: flex;
  flex-flow: column;
  justify-content: center;

  border: 1px solid #0000001a;
  border-radius: 24px;
  padding: 20px 24px 50px 24px;
}
.cart-h2 {
  margin-top: 20px;
  font-family: "Russo One";
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}
.cart-h3 {
  font-family: "Russo One";
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  vertical-align: middle;
}
.cart-p-checkout {
  font-family: "Russo One";
  font-weight: 800;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  vertical-align: middle;

  color: black;
}
.cart-text-wrapper {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  margin-top: 15px;
}
.cart-p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}
.cart-form {
  display: flex;
  gap: 12px;
  margin: 24px 0;
}
.cart-input {
  border-radius: 62px;

  outline: none;

  border: 0px white;
  background-color: #f0f0f0;
  padding: 12px 20px;
  width: 326px;
}
.cart-form-button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;

  border-radius: 62px;
  padding: 12px 17px;
  border: 0px;
  color: white;
  background-color: black;
}
.cart-button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;

  border-radius: 62px;
  padding: 20px 150px;
  border: 0px;
  color: white;
  background-color: black;
}

@media (max-width: 550px) {
  .cart-h2 {
    font-family: "Russo One";
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
  }

  .cart-h3 {
    font-family: "Russo One";
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
    vertical-align: middle;
  }

  .cart-p-checkout {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
  }

  .cart-p {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
  }

  .cart-button {
    padding: 20px 30px;
  }

  .cart-input {
    width: 220px;
  }
}

@media (max-width: 450px) {
  .cart-button {
    padding: 10px 20px;
  }

  .cart-input {
    width: 200px;
  }

  .checkout {
    padding: 10px 12px;
  }
}
