.main-shop {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: auto;
  width: 1440px;
  margin-top: 50px;
}

.main-shop-small {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: auto;
  max-width: 1440px;
  margin-top: 50px;

  flex-flow: column;
}
